#recipes-container {
    color: blue;
}
.recipe{
    padding-bottom: 20px;
}
.recipe-name{
 cursor: pointer;
}

body {background-color: rgba(211, 9, 52, 0.171);}

h1 {
    text-align: center;
}

label {color: blueviolet;}

/* body {
 background-image: url("https://www.freepik.com/free-vector/hand-drawn-delicious-food-background_5107183.htm#page=1&query=food%20background&position=0");
 background-color: #cccccc;
} */